<html>
	<head>
		<title>Watch Live Lottos</title>
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>
		<style>
			body {
				background-image : url("/images/BKG.png");
				font-family:sans-serif;
				background-size: cover;
			}
			header {
				/*width:1024px;*/
				//width:51%;
				width:60%;
				/*height:111px;*/
				/*height:70px;*/
				height:80px;
				top:24px !Important;
				/*left:208px;*/
				color:#21125A;
				/*position: absolute;*/
				background: #21125A;
				border-radius: 20px;
				margin:auto;
				margin-top:24px;
			}
			.left {
				display: inline-block;
				width: 50%;
				float: left;
				padding: 10px;
				
			}
			.left img {
				width:15%;
				float:left;
			}
			.left p {
				color: #F95BBF;
				font-family: sans-serif;
				float: left;
				margin-left: 10px;
				margin-top: 20px;
				font-size: 18px;
			}
			.right span {
				position: absolute;
				left: 26.79%;
				right: 26.79%;
				top: 64.29%;
				bottom: 0%;

				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 10px;
				line-height: 20px;
				/* identical to box height, or 200% */

				text-align: center;

				color: #FFFFFF;
			}
			main {
				//width:50%;
				width:60%;
				margin:auto;
				margin-top:24px;

				background: #FFFFFF;
				border-radius: 10px 10px 10px 10px;
				padding:40px;
			}
			main h3 {
				/*width: 68px;
				height: 20px;*/
				margin:0 !important;

				/*font-family: 'Inter';*/
				font-family:sans-serif;
				font-style: normal;
				font-weight: 700;
				font-size: 14px;
				line-height: 20px;
				/* identical to box height, or 143% */

				display: flex;
				align-items: center;
				text-align: center;

				color: #21125A;


				/* Inside auto layout */

				flex: none;
				order: 0;
				flex-grow: 0;
			}
			
			main table {
				width:100%;
			}
			
			main table tr td,main table tr th {
				font-size:16px;
				text-align:center;
				border-bottom: 1px dotted;
				word-break: break-word;
				width: 50px;
			}
			main table tr td img{
				max-width:50%;
			}
			
			main table tr td button {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 7px;
				gap: 8px;

				background: #F95BBF;
				border: 1px solid #F95BBF;
				box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
				border-radius: 8px;
				color:#fff;
				cursor:pointer;
				font-size: 15px !important;
			}
			main table tr td a, main table tr td a:hover, .right a {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 8px;
				gap: 8px;

				background: #F95BBF;
				border: 1px solid #F95BBF;
				box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
				border-radius: 8px;
				color:#fff;
				text-decoration:none;
			}
			
			/******* Bootstrap modal css*******/
			.btn-group-sm>.btn, .btn-sm {
				border-radius: 8px !Important;
			}
			.btn-group-sm>.btn, .btn-sm:hover {
				color:#fff;
				border:none;
			}
			.btn:focus {
				color:#fff !Important;
			}
			
			.modal-body {
				padding:0px !important;
			}
			.right {
				display: inline-block;
				width: 50%;
				float: right;
				text-align: right;
				padding:25px;
				margin-top: 5px;
			}

			.mainDiv {
				height:500px;
				max-height:500px;
				overflow-y:scroll;
			}
			
			main table tr td img.countryFlag {
				/*max-width:50%;*/
				max-width: 80px !important;
				height: 80px !important;
				/* border: 50px solid; */
				border-radius: 50% !important;
			}
			
		</style>
		<script>
		    $(document).ready(function() {
				$(".watch").click(function(){
					console.log('Hello Button clicked');
					let url = $(this).attr("data-url");
					console.log("url : ",url);
					$(".modal-body").html("<iframe width='100%' height='450px' src='"+url+"' allow='autoplay; full screen'></iframe>");
				});
				$(".close").click(function(){
					let url = "";
					$(".modal-body").html("<iframe width='100%' height='450px' src='"+url+"' allow='autoplay; full screen'></iframe>");
				});			
			});	
		</script>
	</head>
	<body>
		<header>
			<div class="left">
				<img src="/images/Logo.png" />
				<p>Welcome to Online Fantasy Lotto</p>
			</div>
			<div class="right">
				<a class="" target="_blank" href="http://3.120.231.131:3000/" type="button">Play Now</a>
			</div>
		</header>
		<main>
			<div class="mainDiv">
				<table >
					<thead>
						<tr>
							<th>Lotto</th>
							<th>Country</th>
							<th>&nbsp;</th>
							<th>Starts In</th>
							<!-- <th>Last Update</th> -->
							<th>Last Result Time</th>
							<th>Results</th>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
						</tr>
					</thead>	
					<tbody>
					  <% data.forEach(function(item) { %>
						<tr>
						  <td><img src="<%= item.colorimage %>"/><br/><%= item.ProfileName %></td>
						  <td><%= item.Country %><% if(item.State !="") { %>, <%=item.State %><% } %></td>
						  <td><img class="countrFlag" src="<%= item.countryFlag %>" style="border:1px solid #ccc; border-radius:50%;" /></td>
						  <td><b>-</b></td>
						  <!-- <td><%= item.DrawTime %></td> -->
						  
						  <td><%= item.lastUpdateTime %></td>
						  <td style="width:100px; max-width:100px;"><%= item.lastResult %></td>
						  <td>
							<button type="button" class="btn btn-sm watch" data-toggle="modal" data-target="#myModal" <% if(item.live_url == "" || item.live_url ==null) { %>disabled <%}%> data-url="<%= item.live_url %>?rel=0&amp;autoplay=1&origin=https://3.120.231.131:3000" frameborder="0" allowfullscreen>Live</button>
						  </td>
						  <td><button type="button" class="btn btn-sm watch" data-toggle="modal" data-target="#myModal" data-url="<%= item.drawLink %>?rel=0&amp;autoplay=1&origin=https://3.120.231.131:3000" frameborder="0" allowfullscreen <% if(item.drawLink== "" || item.drawLink== null) { %>disabled <%}%>>Watch</button></td>
						</tr>
					  <% }); %>
					</tbody>
				</table>
			</div>
			
		</main>
		<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:60%;">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- <h4 class="modal-title">Modal Header</h4> -->
        </div>
        <div class="modal-body">
        </div>
        <!--<div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
        </div>-->
      </div>
      
    </div>
  </div>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#dataTable').DataTable();
    });
  </script>
	</body>
</html>